.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}

ul.education-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 5rem;
}
.timeline-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  text-align: center;
}


.input {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
}

.btn {
  background-color: #4568dc;
  background-image: linear-gradient(90deg, #4568dc 0%, #b06ab3 74%);
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form > .btn {
  margin-top: 1.5rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

li.education-item {
  display: flex;
  flex-direction: column;
  gap: 1em;

  list-style: none;

  border-left: 1px solid #abaaed;
  position: relative;
  padding-bottom: 2em;
  padding-left: 2em;
  margin-left: 12px;
}

li.education-item:before {
  content: "";
  width: 18px;
  height: 18px;
  background: #e9ebec;
  border: 1px solid #abaaed;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

li.education-item:last-child {
  border: 0;
  padding-bottom: 0;
}

.education-item > .school {
  font-size: 1.5em;
  display: flex;
  margin: 0;
}

.education-item > .years {
  position: relative;
  top: -1px;
}

.education-item > .degree {
  display: flex;
  margin: 0;
}

.education-item > .major {
  display: flex;
  margin: 0;
}
